* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.quiz-app {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}
.quiz-app .quiz-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: antiquewhite;
}
.quiz-app .quiz-info .category {
    flex: 1;
}
.quiz-app .quiz-info .count {
    flex: 1;
    text-align: right;
}
.quiz-app .quiz-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f4f4f4;
    padding: 20px;
}
.quiz-app .answers-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.quiz-app .answers-area .answer {
    display: flex;
    background-color: #f7f7f7;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.quiz-app .answers-area .answer:hover {
    background-color: #d0d0d0;
}
.quiz-app .answers-area .answer input[type="radio"]:checked + label {
    color: #0075ff;
}
.quiz-app .answers-area .answer input[type="radio"] {
    margin-left: 15px;
    cursor: pointer;
}
.quiz-app .answers-area .answer label {
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
    display: inline-block;
    flex: 1;
    padding: 15px 15px 15px 0;
}
.quiz-app .submit-button {
    background-color: #0075ff;
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.quiz-app .submit-button:hover {
    background-color: #0052cc;
}
.quiz-app .submit-button:focus {
    outline: none;
}
.quiz-app .submit-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
.quiz-app .bullets {
    padding: 20px;
    border-top: 1px solid #dfdfdf;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz-app .bullets .spans {
    display: flex;
    position: relative;
}
.quiz-app .bullets .spans::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #0075ff;
}
.quiz-app .bullets .spans span {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.quiz-app .bullets .spans span:last-child {
    margin-right: 0;
}
.quiz-app .bullets .spans span.on {
    background-color: #0075ff;
}
.quiz-app .results span {
    font-weight: bold;
}
.quiz-app .results span.bad {
    color: #ff0000;
}
.quiz-app .results span.good {
    color: #009688;
}
.quiz-app .results span.perfect {
    color: #00cc00;
}
.quiz-app .results {
    text-align: center;
    margin-top: 20px;
}
.quiz-app .bullets .countdown {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    animation-name: countDownAnimation;
    animation-timing-function: linear;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}
@keyframes countDownAnimation {
    0% {
        background-color: #ffd8d8;
    }
    50% {
        background-color: #f8a1a1;
    }
    100% {
        background-color: #ffd8d8;
    }
}
.restart-button {
    background-color: #0075ff;
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.restart-button:hover {
    background-color: #0052cc;
}